# SOTABand Engine 配置文件
# 复制此文件为 .env 并填入实际值

# DeepSeek v4 API Key (必填)
DEEPSEEK_API_KEY=sk-xxxxxxxxxxxxxxxx


#豆包模型
DOUBAO_API_KEY=xxxxxxxxxxxxxxxx
DOUBAO_MODEL=doubao-seedream-5-0-260128
DOUBAO_BASE_URL=https://ark.cn-beijing.volces.com/api/v3


